<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<style>
  body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #222;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 0;
  }

  .container {
    margin: auto;
    background-color: #fff;
    color: #808080;
    width: 100%;
    max-width: 600px;
    padding: 20px;
  }

  .container h1 {
    margin-bottom: 50px;
  }

  .container h2,
  .obs {
    color: #ee4d64;
  }

  .container hr {
    border-top: 1px solid #f1f1f1;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 50px;
    width: 100%;
    max-width: 600px;
  }

  .label {
    color: #333;
  }

  .footer {
    margin: auto;
    background-color: #ee4d64;
    color: #fff;
    width: 100%;
    max-width: 600px;
    padding: 20px;
  }
</style>

<body>
  <div class="container">
    <h1 align="center">
      <img src="http://www.angelopietro.com.br/gympoint/logo.png" />
    </h1>
    <hr />
