<h2>Olá, {{ student }}</h2>
<p>Acabamos de responder sua dúvida, confira logo abaixo!</p>
<p>
  <div>
    <strong class="label">Sua dúvida: </strong>
  </div>

  <div>
    {{ question }}
  </div>
  <br>
  <div>
    <strong class="label">Nossa resposta: </strong>
    <br>
    {{ answer }}
  </div>
</p>

<p>
  <small class="obs">
    Sempre que houver alguma dúvida, envie-nos para que possamos orientá-lo da melhor maneira possível!!
  </small>
</p>
